## Visual Studio default .gitignore for .NET projects

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
**/DesignTimeBuild/
**/FileContentIndex/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/
**/Properties/launchSettings.json

# NuGet
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets
nuget.config

# Benchmark results
BenchmarkDotNet.Artifacts/

# Test results
TestResults/
*.trx
*.coverage
*.coveragexml

# Rider
.idea/
*.sln.iml

# VS Code
.vscode/

# Mac
.DS_Store

# Windows
Thumbs.db
Desktop.ini
